body {
	font-family: 'Montserrat', sans-serif;
	background-color: #060606;
	color: #fff;
	font-weight: 400;
}

input,
select {
	outline: none;
}

.box {
	margin: 0 auto;
	padding: 0 20px;
}

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 99;
}

#loader {
	display: block;
	position: relative;
	left: 50%;
	top: 60%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #9370DB;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

#loader:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #BA55D3;
	-webkit-animation: spin 3s linear infinite;
	animation: spin 3s linear infinite;
}

#loader:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #FF00FF;
	-webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
}

#loading_movie {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #9370DB;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

#loading_movie:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #BA55D3;
	-webkit-animation: spin 3s linear infinite;
	animation: spin 3s linear infinite;
}

#loading_movie:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #FF00FF;
	-webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
}

.loader_home {
	position: absolute;
	top: calc(50% - 32px);
	left: calc(50% - 32px);
	width: 64px;
	height: 64px;
	border-radius: 50%;
	perspective: 800px;
}

.loader_home .inner {
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.loader_home .inner.one {
	left: 0%;
	top: 0%;
	-webkit-animation: rotate-one 1s linear infinite;
	        animation: rotate-one 1s linear infinite;
	border-bottom: 3px solid #EFEFFA;
}

.loader_home .inner.two {
	right: 0%;
	top: 0%;
	-webkit-animation: rotate-two 1s linear infinite;
	        animation: rotate-two 1s linear infinite;
	border-right: 3px solid #EFEFFA;
}

.loader_home .inner.three {
	right: 0%;
	bottom: 0%;
	-webkit-animation: rotate-three 1s linear infinite;
	        animation: rotate-three 1s linear infinite;
	border-top: 3px solid #EFEFFA;
}

@-webkit-keyframes rotate-one {
	0% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}

	100% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@keyframes rotate-one {
	0% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}

	100% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-webkit-keyframes rotate-two {
	0% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}

	100% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@keyframes rotate-two {
	0% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}

	100% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-webkit-keyframes rotate-three {
	0% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}

	100% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@keyframes rotate-three {
	0% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}

	100% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-webkit-keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.lds-hourglass {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.lds-hourglass:after {
	content: " ";
	display: block;
	border-radius: 50%;
	width: 0;
	height: 0;
	margin: 8px;
	box-sizing: border-box;
	border: 32px solid #fff;
	border-color: #fff transparent #fff transparent;
	-webkit-animation: lds-hourglass 1.2s infinite;
	        animation: lds-hourglass 1.2s infinite;
}

@-webkit-keyframes lds-hourglass {
	0% {
		transform: rotate(0);
		-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}

	50% {
		transform: rotate(900deg);
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	100% {
		transform: rotate(1800deg);
	}
}

@keyframes lds-hourglass {
	0% {
		transform: rotate(0);
		-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}

	50% {
		transform: rotate(900deg);
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	100% {
		transform: rotate(1800deg);
	}
}

@media only screen and (min-width: 1400px) {
	.box {
		max-width: 1320px;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
	.box {
		max-width: 1140px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.box {
		max-width: 960px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.box {
		max-width: 720px;
	}
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
	.box {
		max-width: 540px;
	}
}

@media only screen and (max-width: 576px) {
	.box {
		width: 100%;
		padding: 0 15px;
		margin-left: auto;
		margin-right: auto;
	}

	#loading_movie {
		width: 80px;
		height: 80px;
		margin: -40px 0 0 -40px;
	}

	#loading_movie:before {
		content: "";
		top: 5px;
		left: 5px;
		right: 5px;
		bottom: 5px;
	}

	#loading_movie:after {
		content: "";
		top: 13px;
		left: 13px;
		right: 13px;
		bottom: 13px;
	}
}
header .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header .logo {
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    width: 30%;
}

.glow {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
            animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #586eb2, 0 0 8px #586eb2, 0 0 10px #586eb2, 0 0 12px #586eb2, 0 0 14px #586eb2;
    }

    to {
        text-shadow: 0 0 3px #fff, 0 0 5px #c73ae6, 0 0 7px #c73ae6, 0 0 9px #c73ae6, 0 0 11px #c73ae6, 0 0 13px #c73ae6, 0 0 15px #c73ae6;
    }
}

header .search {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

.search form {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    position: relative;
}

.search__input {
    background-color: #fff;
    border-radius: 5px;
    height: 45px;
    padding: 5px 15px;
    color: #000;
    width: 50%;
}

.search__btn {
    background-color: #0a1c2e;
    padding: 6px 10px;
    position: absolute;
    top: 4px;
    right: 5px;
    border-radius: 5px;
}

.search__btn:hover {
    background-color: #203951;
}

.advanced_search {
    height: 45px;
    width: 100%;
    background: #060606;
    border-bottom: 1px solid #5683b0;
    border-top: 1px solid #5683b0;
    position: relative;
    display: flex;
    margin-top: 5px;
}

.as_container {
    position: absolute;
    width: 100%;
    top: 43px;
    background-color: #fff;
    z-index: 15;
    display: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #000;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.close_search_advanced {
    width: 100%;
    text-align: right;
}

.close_search_advanced_btn {
    font-weight: 600;
    color: #ed5829;
}

.as_name {
    height: 100%;
    padding: 9px 20px;
    font-weight: 600;
}

.as_items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.as_item {
    font-weight: 500;
    padding: 5px 10px;
    color: #313c46;
    cursor: pointer;
}

.as_items_name {
    font-weight: 700;
    padding: 5px 10px;
}

.as_item:hover,
.as_item.active {
    color: #ed5829;
    font-weight: 700;
    transform: scale(1.1);
}

@media only screen and (min-width: 1400px) {}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    header .logo {
        font-size: 55px;
    }

    .search {
        font-size: 13px;
    }

    .search__input {
        height: 37px;
    }

    .search__btn {
        padding: 5px 10px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    header .logo {
        font-size: 45px;
    }

    .search {
        font-size: 13px;
    }

    .search__input {
        height: 35px;
    }

    .search__btn {
        padding: 4px 8px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    header .box {
        padding: 20px 15px;
    }

    header .logo {
        font-size: 40px;
    }

    .search {
        font-size: 14px;
    }

    .search__input {
        height: 37px;
        width: 80%;
    }

    .search__btn {
        padding: 4px 8px;
    }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
    header .box {
        padding: 20px 15px;
    }

    header .logo {
        font-size: 35px;
    }

    .search {
        font-size: 13px;
    }

    .search__input {
        height: 37px;
        width: 80%;
    }

    .search__btn {
        padding: 5px 6px;
    }
}

@media only screen and (max-width: 576px) {
    header .box {
        padding: 10px 15px;
    }

    header .logo {
        font-size: 35px;
    }

    .search {
        font-size: 13px;
    }

    .search__input {
        height: 35px;
        width: 100%;
    }

    .search__btn {
        padding: 5px 8px;
        top: 3px;
        right: 3px;
    }

    header .search {
        width: 100%;
        margin-top: 10px;
    }

    .search form {
        width: 100%;
    }

    .as_container {
        padding: 10px;
    }

    .as_items_name {
        padding: 2px 8px;
    }

    .as_item {
        padding: 2px 8px;
    }

    .as_name {
        padding: 6px 20px;
    }

    .advanced_search {
        margin-top: 15px;
        height: 40px;
    }
}
.card__film:hover {
    transform: scale(1.03);
    transition: 0.2s;
}

.banner_img {
    object-fit: cover;
    -o-object-fit: cover;
    width: 100%;
}

.film__name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-break: break-word;
    font-size: 14px;
    text-align: center;
    margin: 5px 0;
    overflow: hidden;
}

.home__category {
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    border-top: 1px solid #060606;
    border-bottom: 1px solid #060606;
    border-right: 1px solid #060606;
    border-radius: 5px;
}

.home__category:hover {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
            animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #586eb2, 0 0 4px #586eb2, 0 0 5px #586eb2, 0 0 6px #586eb2, 0 0 7px #586eb2;
    }

    to {
        text-shadow: 0 0 2px #fff, 0 0 3px #c73ae6, 0 0 4px #c73ae6, 0 0 5px #c73ae6, 0 0 6px #c73ae6, 0 0 7px #c73ae6, 0 0 8px #c73ae6;
    }
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    -webkit-animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
            animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 8px;
    -webkit-animation-delay: -0.24s;
            animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 32px;
    -webkit-animation-delay: -0.12s;
            animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 56px;
    -webkit-animation-delay: 0;
            animation-delay: 0;
}

@-webkit-keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }

    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }

    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}

.homepage {
    display: flex;
    margin-top: 30px;
}

.listfilm {
    width: 80%;
}

.top_search {
    width: 20%;
    margin-left: 20px;
}

.top_search__title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #8ba1fb;
    line-height: 15px;
}

.listfilm__top {
    display: flex;
    justify-content: space-between;
}

.categorys {
    width: 25%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 3px;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .4), inset 1px 0 0 0 hsla(0, 0%, 100%, .1);
}

.swiper__slider {
    width: 70%;
}

.swiper__slider img {
    height: 350px;
    border-radius: 3px;
}

.recommend__items {
    margin-top: 20px;
}

.recommend__items__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-weight: 500;
}

.recommend__items__name {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.recommend__items__btn {
    display: flex;
    align-items: center;
    line-height: 0px;
    padding: 5px 15px;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 15px;
}

.recommend__items__btn:hover svg {
    transform: rotate(360deg);
}

.arrow {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    transition: 0.5s;
}

.recommend__item {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 2rem 1rem;
    margin-top: 10px;
}

.card__film {
    border-radius: 3px;
}

.card__film img {
    width: 100%;
    border-radius: 5px;
}

.top_search__card {
    display: flex;
    margin-bottom: 15px;
}

.top_search__card:hover {
    transform: scale(1.03);
    transition: 0.2s;
}

.top_search__card:hover .top_search__card__name {
    color: #8ba1fb;
}

.top_search__card__img {
    width: 50%;
    border-radius: 3px;
}

.top_search__card__name {
    width: 50%;
    margin-left: 10px;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

@media only screen and (min-width: 1400px) {}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .home__category {
        padding: 14px 20px;
        font-size: 11px;
    }

    .swiper__slider img {
        height: 310px;
    }

    .top_search__title {
        font-size: 18px;
    }

    .top_search__card__name {
        font-size: 11px;
    }

    .film__name {
        font-size: 12px;
    }

    .recommend__items__btn {
        font-size: 12px;
    }

    .recommend__items__name {
        font-size: 16px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .categorys {
        width: 28%;
    }

    .swiper__slider img {
        height: 280px;
    }

    .home__category {
        font-size: 10px;
        padding: 10px 25px;
    }

    .top_search__card__name {
        font-size: 10px;
    }

    .film__name {
        font-size: 10px;
    }

    .recommend__items__btn {
        font-size: 10px;
    }

    .top_search__title {
        font-size: 18px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .categorys {
        display: none;
    }

    .swiper__slider {
        width: 100%;
    }

    .swiper__slider img {
        height: 230px;
    }

    .listfilm {
        width: 70%;
    }

    .top_search {
        width: 30%;
    }

    .recommend__item {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .recommend__items__name {
        font-size: 16px;
    }

    .card__film {
        border-radius: 3px;
    }

    .top_search__card__name {
        font-size: 10px;
    }

    .film__name {
        font-size: 12px;
    }

    .recommend__items__btn {
        font-size: 12px;
    }

    .top_search__title {
        font-size: 18px;
    }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
    .categorys {
        display: none;
    }

    .swiper__slider {
        width: 100%;
    }

    .swiper__slider img {
        height: 230px;
    }

    .homepage {
        margin-top: 0;
    }

    .as_name {
        padding: 6px 20px;
    }

    .advanced_search {
        height: 40px;
        margin-top: 20px;
    }

    .listfilm {
        width: 100%;
    }

    .top_search {
        display: none;
    }

    .recommend__item {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 1rem 0.6rem;
    }

    .recommend__items__name {
        font-size: 15px;
    }

    .card__film {
        border-radius: 3px;
    }

    .recommend__items__btn {
        font-size: 13px;
    }

    .film__name {
        font-size: 13px;
    }
}

@media only screen and (max-width: 576px) {
    .categorys {
        display: none;
    }

    .swiper__slider {
        width: 100%;
    }

    .swiper__slider img {
        height: 200px;
    }

    .homepage {
        margin-top: 0;
    }

    .listfilm {
        width: 100%;
    }

    .top_search {
        display: none;
    }

    .recommend__item {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 0.8rem 0.5rem;
    }

    .recommend__items__name {
        font-size: 14px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
        max-width: 225px;
    }

    .card__film {
        border-radius: 3px;
    }

    .recommend__items__btn {
        font-size: 12px;
    }

    .film__name {
        font-size: 11px;
    }
}
.movie {
	margin-top: 50px;
}

.movie .box {
	display: flex;
	justify-content: space-between;
}

.movie__container {
	width: 70%;
}

.movie__container > div {
	margin-bottom: 20px;
}

.movie__media {
	position: relative;
	display: flex;
	justify-items: center;
	background-color: #000;
}

.movie__media:hover .movie__tools {
	display: block;
}

.movie__quality {
	background-color: transparent;
	font-weight: 600;
	-webkit-appearance: none;
	cursor: pointer;
	padding: 0 10px;
}

.movie__quality option {
	background-color: #000;
	font-weight: 500;
}


.movie__play {
	position: absolute;
	top: calc(50% - 25px);
	left: calc(50% - 19px);
	font-size: 50px;
	cursor: pointer;
}

.movie__play:hover {
	transition: 0.1s;
	transform: scale(1.2);
}

.movie__load {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #000;
	z-index: 10;
}

.movie__screen {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.movie__name {
	font-size: 28px;
	font-weight: 700;
	margin-top: 30px;
	margin-bottom: 20px;
}

.movie__episodes {
	display: flex;
	flex-wrap: wrap;
}

.episode {
	border-radius: 2px;
	background-color: #27282e;
	width: 50px;
	height: 50px;
	margin-right: 20px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
}

.comment_title {
	font-weight: 600;
	font-size: 20px;
}

.fb-comments {
	background: #fff;
}

.episode:hover {
	background-color: #266fd0;
}

.episode.active {
	background-color: #266fd0;
}

.movie__info {
	display: flex;
	font-size: 20px;
}

.movie__score {
    color: #fff;
}

.movie__year {
	margin-left: 30px;
	color: #fff;
}

.movie__tag {
	display: flex;
	flex-wrap: wrap;
}

.tag__name {
	padding: 10px 25px;
	border-radius: 20px;
	background-color: #27282e;
	margin-right: 20px;
	cursor: pointer;
}

.tag__name:hover {
	background-color: #3d3e42;
}

.movie__similar {
	width: 20%;
}

.similar__container {
	display: flex;
	transition: 0.2s;
	border-radius: 2px;
}

.similar__container:hover {
	transform: scale(1.05);
}

.similar__container img {
	margin-bottom: 20px;
	width: 50%;
	border-radius: 5px;
}

.similar__name {
	width: 50%;
	margin-left: 20px;
}

.movie__tools {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: none;
}

.movie__controls {
	display: flex;
	font-size: 20px;
	padding: 10px 20px;
}

.play__control {
	margin-right: 20px;
}

.backward__control {
	margin-right: 20px;
}

.forward__control {
	margin-right: 20px;
}

.movie__duration {
	width: 100%;
	height: 3px;
	position: relative;
	background-color: #ffffff80;
	cursor: pointer;
}

.seek__ball {
	height: 3px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
}

.lds-ripple {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-ripple div {
	position: absolute;
	border: 4px solid #fff;
	opacity: 1;
	border-radius: 50%;
	-webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
	        animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
	-webkit-animation-delay: -0.5s;
	        animation-delay: -0.5s;
}
@-webkit-keyframes lds-ripple {
	0% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 0px;
		left: 0px;
		width: 72px;
		height: 72px;
		opacity: 0;
	}
}
@keyframes lds-ripple {
	0% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 0px;
		left: 0px;
		width: 72px;
		height: 72px;
		opacity: 0;
	}
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
	.movie__container {
		width: 75%;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.movie__container {
		width: 75%;
	}
	.movie__similar {
		width: 22%;
	}
	.similar__container img {
		border-radius: 2px;
	}
	.similar__name {
		margin-left: 10px;
		font-size: 14px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.movie {
		margin-top: 20px;
	}
	.movie .box {
		flex-wrap: wrap;
	}
	.movie__container {
		width: 100%;
	}
	.movie__name {
		font-size: 25px;
	}
	.movie__play {
		font-size: 40px;
		top: calc(50% - 20px);
		left: calc(50% - 15px);
	}
	.movie__container > div {
		margin-top: 10px;
	}
	.tag__name {
		margin-right: 10px;
		padding: 8px 15px;
		font-size: 14px;
	}
	.movie__similar {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(4, minmax(0, 1fr));
		gap: 1rem;
		margin-top: 30px;
	}
	.similar__container {
		display: block;
	}
	.similar__container img {
		width: 100%;
		margin-bottom: 10px;
	}
	.similar__name {
		width: 100%;
		margin: 0;
		text-align: center;
		font-size: 12px;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		text-overflow: ellipsis;
		word-break: break-word;
		margin: 5px 0;
		overflow: hidden;
	}
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
	.movie {
		margin-top: 20px;
	}
	.movie .box {
		flex-wrap: wrap;
	}
	.movie__container {
		width: 100%;
	}
	.movie__name {
		font-size: 25px;
	}
	.movie__play {
		font-size: 35px;
		top: calc(50% - 17px);
		left: calc(50% - 13px);
	}
	.movie__container > div {
		margin-top: 10px;
	}
	.tag__name {
		margin-right: 10px;
		padding: 8px 15px;
		font-size: 14px;
	}
	.movie__similar {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		gap: 1rem;
		margin-top: 30px;
	}
	.similar__container {
		display: block;
	}
	.similar__container img {
		width: 100%;
		margin-bottom: 10px;
	}
	.similar__name {
		width: 100%;
		text-align: center;
		font-size: 12px;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		text-overflow: ellipsis;
		word-break: break-word;
		margin: 5px 0;
		overflow: hidden;
	}
	.episode {
		width: 40px;
		height: 40px;
	}
	.movie__intro {
		font-size: 14px;
	}
}

@media only screen and (max-width: 576px) {
	.movie {
		margin-top: 20px;
	}
	.movie .box {
		flex-wrap: wrap;
	}
	.movie__container {
		width: 100%;
	}
	.movie__name {
		font-size: 22px;
		margin-top: 15px;
		margin-bottom: 0;
	}
	.movie__play {
		font-size: 30px;
		top: calc(50% - 15px);
		left: calc(50% - 11px);
	}
	.movie__intro {
		font-size: 14px;
	}
	.movie__container > div {
		margin-bottom: 10px;
	}
	.tag__name {
		margin-right: 10px;
		padding: 8px 15px;
		font-size: 14px;
	}
	.movie__similar {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		gap: 0.6rem;
		margin-top: 30px;
	}
	.similar__container {
		display: block;
	}
	.similar__container img {
		width: 100%;
		margin-bottom: 10px;
		border-radius: 2px;
	}
	.similar__name {
		width: 100%;
		margin: 0;
		text-align: center;
		font-size: 12px;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		text-overflow: ellipsis;
		word-break: break-word;
		margin: 5px 0;
		overflow: hidden;
	}
	.episode {
		width: 30px;
		height: 30px;
		margin-right: 10px;
		font-size: 12px;
	}
	.movie__info {
		font-size: 15px;
	}
}
.notfound {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 40px;
    font-size: 20px;
}
.notfound img {
    width: 250px;
}
.home__products__all {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.home__product {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    width: calc(16.5%);
    cursor: pointer;
    z-index: 0;
    transition: 0.4s;
}

.home__product:hover {
    transform: translateY(-10px);
}

.home__product:hover .home__product__search {
    display: block;
}

.home__product__card {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #fff;
}

.home__product:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
}

.home__product-img {
    height: 197.8px;
    -o-object-fit: contain;
       object-fit: contain;
    flex-shrink: 0;
}

.home__product-label_bottom {
    position: absolute;
    top: 173px;
    width: calc(100% - 50px);
}

.home__product-content {
    display: flex;
    flex-direction: column;
    padding: 5px;
    flex: 1;
}

.home__product-bottom {
    margin-top: auto;
}

.home__product_price {
    display: flex;
    margin-bottom: 5px;
}

.home__product_price span {
    font-size: 10px;
}

.home__product_price-sale {
    font-size: 16px;
    color: #f16c51;
    font-weight: 500;
}

.home__product_price-default {
    font-size: 14px;
    color: #afafaf;
    text-decoration: line-through;
    margin-right: 10px;
}

.home__product-title {
    font-weight: 500;
    font-size: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    margin-bottom: 10px;
    color: #000;
}

.home__product-rating {
    display: flex;
    font-size: 10px;
    line-height: 1;
    font-weight: 600;
    color: #ed5829;
}

.home__product-rating .number-rated {
    margin-left: auto;
}

.home__product-rating .star-rated {
    letter-spacing: -1px;
    margin-left: 2px;
    margin-right: 2px;
    color: #edbb0e;
}

.home__product-rating .sold-qty {
    color: #000;
}

.home__product__search {
    position: absolute;
    width: 100%;
    height: 25px;
    background: #ed5829;
    top: 100%;
    left: 0;
    display: none;
}

.home__product__search a {
    display: block;
    height: 100%;
    color: #fff;
    font-size: 13px;
    text-align: center;
    padding: 2px;
}

.ribbon__shop {
    position: absolute;
    top: 16px;
    left: 6px;
    padding: 5px;
    border-radius: 2px 2px 2px 0;
    line-height: 5px;
    background: #ed5829;
    font-size: 11px;
    font-weight: 500;
    color: #fff;
}

.ribbon__shop::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background: #8D2101;
    transform: rotate(45deg);
    z-index: -1;
}

.ribbon__sale {
    position: absolute;
    width: 40px;
    height: 30px;
    background: #f9d435;
    left: 150px;
}

.ribbon__sale::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0px;
    border-left: 20px solid #f9d435;
    border-right: 20px solid #f9d435;
    border-top: 0 solid transparent;
    border-bottom: 8px solid transparent;
}

.ribbon__sale p {
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    line-height: 1.2;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .home__product-label_bottom {
        top: 147px;
    }

    .home__product-title {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .home__product-img {
        height: 168.1px;
    }

    .ribbon__sale {
        left: 130px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .home__product {
        width: 20%;
    }

    .home__product-img {
        height: 172px;
    }

    .home__product-label_bottom {
        top: 150px;
    }

    .home__product-title {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .ribbon__sale {
        left: 130px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .home__product {
        width: 25%;
    }

    .home__product-img {
        height: 160px;
    }

    .ribbon__sale {
        left: 120px;
    }

    .home__product-label_bottom {
        top: 140px;
    }

    .home__product-title {
        font-size: 12px;
        margin-bottom: 5px;
    }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
    .home__product {
        width: 33.33%;
    }

    .home__product-img {
        height: 160px;
    }

    .home__product-label_bottom {
        top: 140px;
    }

    .home__product-title {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .ribbon__sale {
        left: 120px;
    }
}

@media only screen and (max-width: 576px) {
    .home__product {
        padding-left: 5px;
        padding-right: 5px;
        width: calc(50%);
        margin-bottom: 5px;
    }

    .home__product__card {
        background: #fff;
    }

    .home__product-title {
        font-size: 10px;
        margin-bottom: 6px;
        margin-top: 5px;
    }

    .home__product-content {
        padding: 2px;
    }

    .ribbon__shop {
        left: 1px;
        font-size: 9px;
        padding: 4px;
        top: 10px;
    }

    .ribbon__shop::before {
        width: 17px;
        height: 17px;
    }

    .ribbon__sale {
        left: 120px;
    }
}
.news_box {
    display: flex;
}

.news_container {
    width: 70%;
}
.overlay-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    z-index: 1000;
    background: #000;
    background: rgba(0, 0, 0, 0.75);
}

.overlay-content {
    display: none;
    padding: 1%;
    width: 600px;
    height: 500px;
    position: fixed;
    top: 15%;
    left: 50%;
    margin: 0 0 0 -20%;
    cursor: default;
    z-index: 10001;
    background: rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 1px solid rgba(255, 255, 255, 0.01);
    padding: 20px;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
}

.popup_title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.popup_container {
    display: flex;
    justify-content: space-between;
}

.popup_img {
    width: 350px;
}

.popup_url {
    background-color: #05abe0;
    font-weight: 600;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.popup_url:hover {
   background-color: #24bff3;
}

.popup_list {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popup_list p {
    padding: 10px 20px;
    background-color: #05abe0;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
}

.popup_list p:hover {
    background-color: #24bff3;
}

@media only screen and (min-width: 1400px) {}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .overlay-content {
        left: 45%;
    }
    .popup_img {
        width: 300px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {}

@media only screen and (min-width: 577px) and (max-width: 767px) {}

@media only screen and (max-width: 576px) {
    .overlay-content {
        width: 95%;
        left: 23%;
        height: 330px;
        top: 20%;
    }

    .popup_img {
        width: 60%;
    }

    .popup_list {
        padding: 5px 0;
    }

    .popup_list p {
        font-size: 12px;
        padding: 5px 10px;
    }

    .popup_title {
        font-size: 16px;
    }

    .popup_url {
        padding: 5px;
        font-size: 13px;
    }
}
/*
! tailwindcss v3.0.23 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/

html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/*
Ensure the default browser behavior of the `hidden` attribute.
*/

[hidden] {
  display: none;
}

*, ::before, ::after {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.top-0 {
  top: 0px;
}
.right-0 {
  right: 0px;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.ml-1 {
  margin-left: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.mt-4 {
  margin-top: 1rem;
}
.ml-4 {
  margin-left: 1rem;
}
.mt-8 {
  margin-top: 2rem;
}
.ml-12 {
  margin-left: 3rem;
}
.-mt-px {
  margin-top: -1px;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}
.h-5 {
  height: 1.25rem;
}
.h-8 {
  height: 2rem;
}
.h-16 {
  height: 4rem;
}
.min-h-screen {
  min-height: 100vh;
}
.w-5 {
  width: 1.25rem;
}
.w-8 {
  width: 2rem;
}
.w-auto {
  width: auto;
}
.max-w-xl {
  max-width: 36rem;
}
.max-w-6xl {
  max-width: 72rem;
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.overflow-hidden {
  overflow: hidden;
}
.border-t {
  border-top-width: 1px;
}
.border-r {
  border-right-width: 1px;
}
.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}
.border-gray-400 {
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity));
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
.p-6 {
  padding: 1.5rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.pt-8 {
  padding-top: 2rem;
}
.text-center {
  text-align: center;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.font-semibold {
  font-weight: 600;
}
.uppercase {
  text-transform: uppercase;
}
.leading-7 {
  line-height: 1.75rem;
}
.tracking-wider {
  letter-spacing: 0.05em;
}
.text-gray-200 {
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity));
}
.text-gray-300 {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}
.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}
.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}
.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}
.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}
.underline {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
@media (prefers-color-scheme: dark) {

  .dark\:bg-gray-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
  }
}
@media (min-width: 640px) {

  .sm\:items-center {
    align-items: center;
  }

  .sm\:justify-start {
    justify-content: flex-start;
  }

  .sm\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .sm\:pt-0 {
    padding-top: 0px;
  }
}
@media (min-width: 1024px) {

  .lg\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
