.card__film:hover {
    transform: scale(1.03);
    transition: 0.2s;
}

.banner_img {
    object-fit: cover;
    -o-object-fit: cover;
    width: 100%;
}

.film__name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    font-size: 14px;
    text-align: center;
    margin: 5px 0;
    overflow: hidden;
}

.home__category {
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    border-top: 1px solid #060606;
    border-bottom: 1px solid #060606;
    border-right: 1px solid #060606;
    border-radius: 5px;
}

.home__category:hover {
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #586eb2, 0 0 4px #586eb2, 0 0 5px #586eb2, 0 0 6px #586eb2, 0 0 7px #586eb2;
    }

    to {
        text-shadow: 0 0 2px #fff, 0 0 3px #c73ae6, 0 0 4px #c73ae6, 0 0 5px #c73ae6, 0 0 6px #c73ae6, 0 0 7px #c73ae6, 0 0 8px #c73ae6;
    }
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }

    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}

.homepage {
    display: flex;
    margin-top: 30px;
}

.listfilm {
    width: 80%;
}

.top_search {
    width: 20%;
    margin-left: 20px;
}

.top_search__title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #8ba1fb;
    line-height: 15px;
}

.listfilm__top {
    display: flex;
    justify-content: space-between;
}

.categorys {
    width: 25%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 3px;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .4), inset 1px 0 0 0 hsla(0, 0%, 100%, .1);
}

.swiper__slider {
    width: 70%;
}

.swiper__slider img {
    height: 350px;
    border-radius: 3px;
}

.recommend__items {
    margin-top: 20px;
}

.recommend__items__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-weight: 500;
}

.recommend__items__name {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.recommend__items__btn {
    display: flex;
    align-items: center;
    line-height: 0px;
    padding: 5px 15px;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 15px;
}

.recommend__items__btn:hover svg {
    transform: rotate(360deg);
}

.arrow {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    transition: 0.5s;
}

.recommend__item {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 2rem 1rem;
    margin-top: 10px;
}

.card__film {
    border-radius: 3px;
}

.card__film img {
    width: 100%;
    border-radius: 5px;
}

.top_search__card {
    display: flex;
    margin-bottom: 15px;
}

.top_search__card:hover {
    transform: scale(1.03);
    transition: 0.2s;
}

.top_search__card:hover .top_search__card__name {
    color: #8ba1fb;
}

.top_search__card__img {
    width: 50%;
    border-radius: 3px;
}

.top_search__card__name {
    width: 50%;
    margin-left: 10px;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

@media only screen and (min-width: 1400px) {}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .home__category {
        padding: 14px 20px;
        font-size: 11px;
    }

    .swiper__slider img {
        height: 310px;
    }

    .top_search__title {
        font-size: 18px;
    }

    .top_search__card__name {
        font-size: 11px;
    }

    .film__name {
        font-size: 12px;
    }

    .recommend__items__btn {
        font-size: 12px;
    }

    .recommend__items__name {
        font-size: 16px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .categorys {
        width: 28%;
    }

    .swiper__slider img {
        height: 280px;
    }

    .home__category {
        font-size: 10px;
        padding: 10px 25px;
    }

    .top_search__card__name {
        font-size: 10px;
    }

    .film__name {
        font-size: 10px;
    }

    .recommend__items__btn {
        font-size: 10px;
    }

    .top_search__title {
        font-size: 18px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .categorys {
        display: none;
    }

    .swiper__slider {
        width: 100%;
    }

    .swiper__slider img {
        height: 230px;
    }

    .listfilm {
        width: 70%;
    }

    .top_search {
        width: 30%;
    }

    .recommend__item {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .recommend__items__name {
        font-size: 16px;
    }

    .card__film {
        border-radius: 3px;
    }

    .top_search__card__name {
        font-size: 10px;
    }

    .film__name {
        font-size: 12px;
    }

    .recommend__items__btn {
        font-size: 12px;
    }

    .top_search__title {
        font-size: 18px;
    }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
    .categorys {
        display: none;
    }

    .swiper__slider {
        width: 100%;
    }

    .swiper__slider img {
        height: 230px;
    }

    .homepage {
        margin-top: 0;
    }

    .as_name {
        padding: 6px 20px;
    }

    .advanced_search {
        height: 40px;
        margin-top: 20px;
    }

    .listfilm {
        width: 100%;
    }

    .top_search {
        display: none;
    }

    .recommend__item {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 1rem 0.6rem;
    }

    .recommend__items__name {
        font-size: 15px;
    }

    .card__film {
        border-radius: 3px;
    }

    .recommend__items__btn {
        font-size: 13px;
    }

    .film__name {
        font-size: 13px;
    }
}

@media only screen and (max-width: 576px) {
    .categorys {
        display: none;
    }

    .swiper__slider {
        width: 100%;
    }

    .swiper__slider img {
        height: 200px;
    }

    .homepage {
        margin-top: 0;
    }

    .listfilm {
        width: 100%;
    }

    .top_search {
        display: none;
    }

    .recommend__item {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 0.8rem 0.5rem;
    }

    .recommend__items__name {
        font-size: 14px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
        max-width: 225px;
    }

    .card__film {
        border-radius: 3px;
    }

    .recommend__items__btn {
        font-size: 12px;
    }

    .film__name {
        font-size: 11px;
    }
}